@model IEnumerable<Laba45.Models.Entity.Nurse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintPatients</title>
</head>
<body>
    <h1 align="center">Мед.сестры</h1>
    <table border="1" width="100%">
        <tr>
            <th>Фамилия врача</th>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Профессия</th>
        </tr>
        @{
            foreach (var nurses in Model)
            {
                <tr>
                    <td>@nurses.Doctor.Surname</td>
                    <td>@nurses.Id</td>
                    <td>@nurses.Surname</td>
                    <td>@nurses.Name</td>
                    <td>@nurses.Patronymic</td>
                    <td>@nurses.Profession</td>
                </tr>
            }
        }
    </table>
    <div>
        @Html.ActionLink("Вернуться на главную страницу", "MainPage")
    </div>
</body>
</html>
